Repository gdg-hongik-univ/gdsc-server, pull requests merged in 2024-05, with the labels that each got.

#322 feat: application 도메인 구현
  src/main/java/com/gdschongik/gdsc/domain/application/application/ApplicationService.java
  src/main/java/com/gdschongik/gdsc/domain/application/dao/ApplicationRepository.java
  src/main/java/com/gdschongik/gdsc/domain/application/domain/Application.java
  src/main/java/com/gdschongik/gdsc/domain/common/model/BaseTermEntity.java
  src/main/java/com/gdschongik/gdsc/domain/common/model/Semester.java
  src/main/java/com/gdschongik/gdsc/global/exception/ErrorCode.java
  src/test/resources/application-test.yml
Labels: ✨ feature

#337 feat: Recruitment의 VO Period 생성
  src/main/java/com/gdschongik/gdsc/domain/recruitment/domain/Recruitment.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/domain/vo/Period.java
  src/main/java/com/gdschongik/gdsc/global/exception/ErrorCode.java
  src/test/java/com/gdschongik/gdsc/domain/recruitment/domain/PeriodTest.java
  src/test/java/com/gdschongik/gdsc/domain/recruitment/domain/RecruitmentTest.java
  src/test/java/com/gdschongik/gdsc/global/common/constant/RecruitmentConstant.java
Labels: ✨ feature, ⚓ Domain: Recruitment

#326 feat: 멤버십 가입 신청 API 구현
  src/main/java/com/gdschongik/gdsc/domain/common/model/BaseSemesterEntity.java
  src/main/java/com/gdschongik/gdsc/domain/membership/api/MembershipController.java
  src/main/java/com/gdschongik/gdsc/domain/membership/application/MembershipService.java
  src/main/java/com/gdschongik/gdsc/domain/membership/dao/MembershipRepository.java
  src/main/java/com/gdschongik/gdsc/domain/membership/domain/Membership.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/dao/RecruitmentCustomRepository.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/dao/RecruitmentCustomRepositoryImpl.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/dao/RecruitmentRepository.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/domain/Recruitment.java
  src/main/java/com/gdschongik/gdsc/domain/recruitment/domain/vo/Period.java
  src/main/java/com/gdschongik/gdsc/global/exception/ErrorCode.java
  src/test/java/com/gdschongik/gdsc/domain/membership/application/MembershipServiceTest.java
  src/test/java/com/gdschongik/gdsc/domain/membership/domain/MembershipTest.java
  src/test/java/com/gdschongik/gdsc/domain/recruitment/domain/RecruitmentTest.java
  src/test/java/com/gdschongik/gdsc/global/common/constant/RecruitmentConstant.java
Labels: ✨ feature, ⚓ Domain: Membership
